#display-container .list-header {
    background-color: #ffffff;
    color: rgb(14, 14, 16);
}
#display-container .list-body {
    background-color: #efeff1;
}

#display-container .card {
    background-color: #efeff1;
}
#display-container .channel-name {
    color: rgb(14, 14, 16);
}
#display-container .game-name {
    color: rgb(83, 83, 95);
}
#display-container .viewer-count {
    color: rgb(14, 14, 16);
}
/* useless now should be removed */